@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: bla;
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url(../imagens/tela-fundo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#telefone{
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 310px;
    height: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tela{
    position: relative;
    top: 80px;
    left: 3px;
    width: 271px;
    height: 479px;
}

#redes-sociais{
    text-align: right;
}

#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

#redes-sociais img:hover{
    transform: translate(-3px, -3px);
    transition: transform 0.5s;
    box-shadow: 1px 3px 1px black;
}